body {
    background-color: #E3E4FA;
    font-family: Verdana;
    line-height: 1em;
}

h1 {
    font-family: Verdana;
    font-size: 18px;
    color: #777;
    border-bottom: 1px solid #acc;
    margin-bottom: 20px;
}

a img {
    border: none;
}

label {
  display: inline-block;
}


input, textarea {
    padding: 5px;
    border: 1px solid #999;
    margin-bottom: 8px;
}

table {
    border-collapse: collapse;
}

table th {
  padding-left: 10px;
  text-align: left;
}

table tr {
    border: 1px solid #999;
    border-bottom: none;
}

table tr th {
}

table tr td {
    padding: 10px;
    background-color: white;
}

table tr:hover td {
    background-color: #ffe;
}

table a {
    color: black;
    font-weight: bold;
}


#topo {
    font-family: Arial, Verdana;
    font-size: 13px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    background-image: url(../images/top-bg.png);
}

#topo li:first-child {
    font-size: 16px;
}

#topo li {
    display: inline-block;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

#topo li a {
    color: inherit;
    text-decoration: none;
}

#topo li a:active {
    color: red;
}

#page-slice {
    background-color: white;
    width: 200px;
    height: auto;
    position: fixed;
    top: 20px;
    right: 20px;
    border-top: 4px double #ccc;
    border-bottom: 1px dashed #ccc;
    overflow:hidden;
    z-index: 99;
}

#page-slice .toggle {
    display: block;
    text-align: center;
    font-size: 8px;
    color: #999;
    cursor: pointer;
}

#page-slice ul {
    font-family: monospace;
    list-style-type:none;
    padding: 5px;
}

#page-slice input.search {
    border: none;
    float:left;
    width: 90%;
    margin: 0px;
}

#page-slice .slice-search {
    border: 1px solid #ccc;
    margin-top: 8px;
    padding-bottom: 4px;
}

#page-slice input.do-search {
    border:none;
    padding: 0px;
    padding-left: 2px;
    margin: 0px;
    margin-top: 5px;
}



#page-slice ul li:hover {
    background-color: #ddd;
}

#page-slice ul li {
    padding: 2px;
    vertical-align: middle;
}

#page-slice a {
    text-decoration: none;
    color: black;
    display: block;
}

#page-slice img {
    border: none;
    margin-right: 5px;
}

#slice-door {
    width: 217px;
    height: 10px;
    position: fixed;
    top: 16px;
    right: 12px;
    background-color: black;
}

#content {
    font-family: sans;
    margin-top: 60px;
    margin-left: 30px;
    width: 80%;
}

